@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    font-family: 'Montserrat';
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

body{
    margin:0;
    padding-top: 80px;
}


.skip{
    position:absolute;
    top:-10000px;
}

.skip:focus{
    position:static;
    margin-right: 30px;
}

.header-nav{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow:hidden;
    margin-bottom: 0.5rem;
    background-color: #FFE4CA;
    /* background: #000 center/cover url("/images/sparkles.jpeg") no-repeat; */
    height: auto;
    text-transform: uppercase;
    font-weight: 700;
    
    
}

.nav-menu{
    list-style:none;
    display:flex;
    justify-content:space-around;
    align-self: center;
    margin:0;
}


.header-nav img {
    width: 75px;
}

.nav-item, .active, .active1{
    flex: 1 0 50%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}


a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    
}

.nav-item:hover{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    height: auto;
}

.active, .active1{
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    vertical-align: middle;
    border: 2px black dotted;
}



h1.logo{
    display:flex;
    /* align-self: flex-start; */
    text-decoration: none;
    letter-spacing: 0.2rem;
    /* padding: 0.8rem; */
    font-size: 19px;
    font-weight:600;
    align-items:center;
    white-space: nowrap;
}

.nav-item:nth-child(3){
    width: 30px;
}

.nav-item:nth-child(2){
    width: 150px;
}

.welcome, .me-content, .my-skincare, .skintypes, #skintype-info, .brands{
    margin: 10px;
    padding:5px;
}

.welcome img, .skintypes img, .brands img{
    width: 60px;
    margin-left: -15px;
    padding-top: 5px;
}

.welcome h1, .me-content h1, .my-skincare h1, .skintypes h1, #type, .brands h1{
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: underline;
}

.welcome p, .me-content p, .my-skincare p, .skintypes p, #skin-description{
    padding-top: 15px;
    width: 90%;
    font-weight: lighter;
    line-height: 1.7;
}

.me-content h1, .my-skincare h1, .skintypes h1, #type, .brands h1{
    margin-top: 15px;
}

.me-content, .my-skincare{
    /* border: 10px #FFE4CA solid; */
    border-top-width: 15px;
}


.me-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.favs-gallery{
    /* display:grid;
    grid-template-columns: max-content 1fr; */
    display: block;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.favs-gallery img{
    max-width: 100%;
    height:auto;
}

.favs-gallery img:hover{
    border: 5px rgba(254, 200, 200, 0.9) solid;
}

.favs-gallery p{
position: relative;
padding: 1rem;
background: rgba(white, 0.8);
font-weight: lighter;
background-color:rgba(254, 200, 200, 0.2);
}

footer p{
    font-size: small;
    background-color: #FFE4CA;
    padding: 3px;
    text-align: center;
}

.skintypes p{
    margin-bottom: 20px;
}

.buttons{
    display:flex;
    justify-content: space-around;
    height:100%
    
}


button{
   background-color: #FFE4CA;
   height:30px;
   border-radius: 10px;
   font-family: 'Montserrat';
   border:black 1px solid;
}

button:hover{
    border:black 3px dotted;
    background-color: antiquewhite;
    height:35px;
}

button:focus{
    border:black 4px solid;
}

.row{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    padding:9px 5px;
    justify-content: space-evenly;
    margin:10px;
    border: 7px rgba(254, 200, 200, 0.9) solid;
}

.column{
    max-width: 100%;
    justify-content: space-around;
}

.column img{
    vertical-align:middle;
    width: 100%;
    height: 400px;
}

.container {
    position: relative;
    width: 100%;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    background-color: black;
  }

  .container:hover .overlay {
    opacity: 0.85;
    border: 5px black solid ;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    /* left: 30%; */
    text-align: center;
  }

  #type{
    font-size: 130%;
    text-align: center;
  }

  #skintype-info, .my-skincare h1{
    margin: 50px 0 20px 0;
  }

  #skin-description{
    padding: 40px 0 20px 5px;
    
  }
  

  #normal{
    background-color: #f4cccc;
    border:black 4px solid;
  }

  #oily{
    background-color:#d9d2e9;
  }

  #dry{
    background-color: #cfe2f3;
  }

  #combo{
    background-color: #d9ead3;
  }

  .brands p, .brands h1, .my-skincare h1{
    text-align: center;
  }

  .my-skincare h1{
    padding-top: 15px;
    font-weight: lighter;
    line-height: 1.7;
  }

  .brand-gallery{
    display:grid;
    row-gap: 10px;
    
    
  }

  .brand-gallery img{
    border-top: 2px solid black;
    border-bottom: 2px solid blacK;
  }
  .brand-gallery p{
    background-color: #FFE4CA;
    align-items: center;
  }


  .brand-gallery img{
    width:100%;
  }


  .brand-gallery p, .brands p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    padding:10px;
    padding-top: 15px;
    font-weight: lighter;
    line-height: 1.7;
  }

 
/*IPAD SCREEN */
@media screen and (min-width: 600px){

    .h1, .logo{
        flex-direction: row-reverse;
        align-self: flex-start;
    }

    .favs-gallery p{
        position: relative;
        margin: -6rem 0 2rem 1rem;
        padding: 1rem;
        background-color: rgba(254, 200, 200, 0.9);
    }

    button{
        width:100px;
    }

    .column{
        flex-basis: 33.3333%;
    }

    .brand-gallery{
        grid-template-columns: repeat(2, 1fr);
    }


    .brand-gallery p{
        border-top: 2px solid black;
        border-bottom: 2px solid blacK;
      }



}

/* DESKTOP */
@media screen and (min-width: 950px){
    
    .nav-menu{
        margin-left: 70%;
    }

    .favs-gallery{
        display:grid;
        grid-template-columns: 300px 1fr;
        gap: 20px;
        align-self: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .favs-gallery p{
        margin: auto;
        background-color: rgba(254, 200, 200, 0.6);
    }

    button{
        width:150px;
    }

    .me-content img{
        width: 20%;
    }

    .column{
        flex-basis: 25%;
    }

    .brand-gallery{
        /* display:grid;
        row-gap: 50px; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

    .brand-gallery p{
    font-size: medium;
    }

    .brand-gallery:nth-child(2),.brand-gallery:nth-child(6),.brand-gallery:nth-child(10), .brand-gallery:nth-child(14){
        padding-right: 20px;
    }



}